// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";


body {
  font-family: Helvetica, Arial;
}

.clear {
  clear: both;
}

h1, h2 {
  color: #8A1204;
  font-weight: bold;
  width: 100%;
  clear: both;
  display: block;
}

h1 {
  font-size: 24px;
  margin: 30px 0;
}

h2 {
  font-size: 22px;
  margin: 30px 0;
}

p {
  font-size: 16px;
  margin: 10px;
  line-height: 22px;
}

a {
  color: #8A1204;
}

#header {
  background: url(/images/header_bg.jpg);
  text-align: center;
  padding: 30px 0;
}

#container {
  width: 960px;
  margin: 0 auto;
}

ul#menu,
ul#tutoriales {
  list-style: none;
  margin: 0 0 30px 0;

  li {
    margin: 20px 20px 20px 0;
    display: block;
  
    a {
      color: #8A1204;
    }
  }
}

ul#menu {
  li {
    float: left;
  }
}

#content {
  clear: both;
}






#preos {
  background: #000;
  color: #fff;
  margin: 10px;
  padding: 5px 10px;

  p {
    font-size: 14px; 
  }
}
