%h1
  Construyendo nuestro sitio web con Rails

%h2 
  Acerca de UnDemoDeRails

%p 
  Este es un sitio web sobre como se hizo este sitio usando rails. (un poco recursivo)
  %br
  Es la traduccion al espaniol de araildemo.com, con algunas anadiduras de parte del autor 

%h2 
  Acerca del autor

%p
  Tengo poco mas de un anio trabajando con rais, vengo de trabajar con php y al paso que voy no pienso regresar :)

