%h1
  Construyendo nuestro sitio web con Rails

%h2 
  Acerca de UnDemoDeRails

%p 
  Este es un sitio web sobre como se hizo este sitio usando rails. (un poco recursivo)
  %br
  Es la traduccion al español de 
  %a{ :href => "http://arailsdemo.com", :target => "_blank" } arailsdemo.com
  , con algunas añadiduras de parte del autor 

%h2 
  Acerca del autor

%p
  Tengo poco mas de un año trabajando con rails, vengo de trabajar con php y al paso que voy no pienso regresar :)

